
    <footer class="page-footer bg-dark ">

        <div class="footer-copyright text-center py-3 text-light">© 2020 Copyright:
            <a href="/about" > Shubham Sinha</a>
          </div>
    </footer>