<nav class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation">
    <a class="navbar-brand" href="/"><h1>WRITER</h1></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            
            <li class="nav-item">
                <a href="article/compose" class="nav-link">Compose</a>
            </li>

            <li class="nav-item">
                <a href="/about" class="nav-link">About</a>
            </li>
            <!-- When User not logged in -->
            <li class="nav-item">
                <a href="/login" class="nav-link unli">Login</a>
            </li>

            <li class="nav-item">
                <a href="/signup" class="nav-link unli">SignUp</a>
            </li>

            <li class="nav-item">
                <a href="/profile" class="nav-link uli">Profile</a>
            </li>

            <li class="nav-item">
                <a href="/logout" class="nav-link uli">Logout</a>
            </li>
        </ul>
    </div>
</nav>