<form action="/article/compose" method="post">
        title: <input type="text" name="title"/>
        Article: <input type="text" name="articlebody">
        <button type="submit">Submit</button>
</form>