<form action="/signup/register" method="post">
    Name:<input type="text" name="name" required/>
    Email:<input type="email" name="email" required/>
    Pwd: <input type="password" name="password" required>
    <button type="submit">Submit</button>
</form>